
<div class="container" style="margin-top:100px;margin-left:500px">
<h1>{{title}}</h1>
<form method ="post" action ="/users/login">
<div class="row">
    <div class="col-md-4">
      <div class="form-group ">
        <label>Email address</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Email" value="{{input.email}}" required>
      </div>
    </div>
</div>


  <div class="row">
  <div class="form-group">
      <div class="col-md-4">
        <label >Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password" value="{{input.password}}"required >
      </div>
  </div>
  </div>
  <button type="submit" class="btn btn-default">Login</button>
  <div class="form-group">
  	<label>Remember me </label>
  	<input type="checkbox" id="rememberMe" name="rememberMe"/>
  </div>
  {{#if error}}
  	<div style="color:red">{{error}}</div>
  {{/if}}

</form>
<a href="/users/create">create account</a>
</div>
