<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="/javascripts/jquery-1.12.0.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href='/bower/font-awesome/css/font-awesome.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/javascripts/bootstrap.min.js"></script>
  </head>

  <body>

     {{#if firstName}}
            <div id="greeting" style="float:right">
              <strong>Hi ,{{firstName}}!</strong>
              <a href="/users/logout">Log out</a>
            </div>
            {{/if}}
    <div>
      {{{body}}}
    </div>

  </body>
</html>
