<div ng-app="app">
  <div ng-view></div>

<a href="#/addPlayer">Upload Image </a> </br>
<a href="#/playersList">Start the game</a>
<script src="/bower/angular/angular.min.js"></script>
<script src="/bower/angular-route/angular-route.min.js"></script>
<script src="/javascripts/app/app.js"></script>
<script src="/javascripts/app/route-config.js"></script>
<script src="/javascripts/app/play/playersList.js"></script>
<script src="/javascripts/app/addPlayer/addPlayer.js"></script>
</div>
