

<div class = "container" >
	<div class="row" ng-if="loading && !end">
		<div class="col-md-8">
			<h3>please wait while loading ... </h3>
		</div>
	</div>

	<div class="row" ng-if ="!loading && !end" ng-init="playersList(players)">
		<div class="col-md-8">

			<div class="frame">
			<img  src={{impath}}>

    	<a   ng-show ="!show" style="background: rgb(0,0,0);width: {{width}}px; height: {{height+100}}px; left: {{x+30}}px; top: {{y}}px;"></a>
			<br/>
		</div>
		</div>


		<div class="col-md-4">
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" ng-model="selectedAnswer" id="optionsRadios1" value="{{firstChoice}}" >
			    {{firstChoice}}
			    <i ng-show="show1" class="{{class1}}" style="{{class2}}"> </i>
			  </label>
			</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios2" ng-model="selectedAnswer" value="{{secondChoice}}">
			    {{secondChoice}}
			    <i ng-show="show2" class="{{class1}}" style="{{class2}}"> </i>
			  </label>
			</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios3"  ng-model="selectedAnswer" value="{{thirdChoice}}">
			    {{thirdChoice}}
			    <i ng-show="show3" class={{class1}} style={{class2}}> </i>
			  </label>
			</div>
			<button type="submit" class="btn btn-default" ng-disabled="!checked"  ng-click="check(selectedAnswer)" >Validate</button>
			<button type="submit" class="btn btn-default" ng-disabled="checked" style ="margin-left : 10px" ng-click="playersList(players)" >next Player</button>
		</div>
	</div>

	<div class="row" ng-if="end" style="margin-top:100px;margin-left:400px">
		<div class="col-md-8">
			<h3> you got {{sucess}}/{{listLength}}</h3> </br>
			<h3>this is the end beautifull friend</h3>

		</div>
	</div>

</div>
