
<form action="/game/addPlayer" enctype="multipart/form-data" method="post">
    <label >Please specify a file</label>
    <input type="file"  name="player" required > </br>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <input type="text" class="form-control" name ="firstChoice" placeholder="first choice" required>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <input type="text" class="form-control" name ="secondChoice" placeholder="second choice" required>
    </div>
  </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <input type="text" class="form-control" name ="thirdChoice" placeholder="third choice" required>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <input type="text" class="form-control" name ="answer" placeholder="answer" required>
        </div>
      </div>
  </div>


  <button type="submit" class="btn btn-default">Submit</button> </br>
  <span style ="color:red"> {{error}}</span>
</form>
</br>
<img src="{{impath}}" >
<a href="/game#/findPlayers">get players list </a>
