<div class="container">
<form method ="post" action ="/users/create">


<div class="row">
    <div class="col-md-4">
  <div class="form-group">
    <label>FirstName</label>
    <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First name"
    value = "{{input.firstName}}" required>
  </div>
</div>
</div>


<div class="row">
    <div class="col-md-4">
  <div class="form-group">
    <label >LastName</label>
    <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last name"
    value ="{{input.lastName}}" required >
  </div>
  </div>
  </div>
<div class="row">
    <div class="col-md-4">
  <div class="form-group">
    <label>Email address</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="Email"
    value ="{{input.email}}" required>
  </div>
  </div>
  </div>

<div class="row">
    <div class="col-md-4">
  <div class="form-group">
    <label >Password</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required >
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
  <span style ="color:red"> {{error}}</span>
</form>
</div>
</div>
</div>
